{% extends 'noticias/plantilla.html' %}

{% block content %} 
    <center>
        <div class="container" style="width:80%;">
            <div class="card" style="width: 18rem; background-color:white !important; border:0 !important;">
                <br>
                <br>
                <h5 class="card-title"  style="color:white !important; background-color:black !important;"> <b>{{jugador.nombre}}</b> </h5>
                <br>
                <h5 class="card-subtitle" ><img style="width:10% !important;" src="{{jugador.imagen.url}}">	</h5>
            </div>
        </div>
 {% endblock %}