{% extends 'noticias/plantilla.html' %}

{% block content %}
    <br>
    

    <div class="container" >
        <br>
    <h3 style="text-align:center; color:red;"><u>NORMAS</u></h3>
        <br>
        <p><li>El horario de juego será publicado en las hojas que la organización repartirá a cada equipo 
        antes del inicio del torneo.</li></p>

        <p><li>Los equipos se deben presentar con <b>10 minutos</b> de antelación, </li></p>

        <p><li> Si un equipo no se ha presentado 5 minutos después de la hora del partido perderá el encuentro
        por 3-0.</li></p>

        <p> Si pasado el tiempo los <b>2 equipos </b> deciden jugar el partido, se disputará de manera regular</li></p>

        <p><li> Los partidos se jugarán en dos partes de <b>45 minutos</b> con descanso de 15 minutos entre ambos periodos. 
        Los 45 minutos son corridos, salvo circunstancias de fuerza mayor en las que el 
        árbitro podrá parar el tiempo.</li></p>

        <p><li> Todos los jugadores deberán llevar camiseta del mismo color y tipo de numeración. Además, cada 
        equipo es responsable de mantener limpia y recogida su zona de banquillos.</li></p>

        <p><li> 
        El representante de la organización es el máximo responsable en la competición, 
        y tiene la potestad de, en cualquier momento, parar el partido y el juego e, 
        incluso, suspender el mismo según la gravedad de los incidentes.</li></p>

        <p><li> Si durante el 
        juego un equipo se quedase con menos de 9 jugadores se le dará el partido por 
        perdido con el resultado de 3 – 0, o en el caso de que vaya perdiendo por 
        marcador más abultado, por el marcador en el momento de suspender el partido.</li></p>
        
        <p><li>
         Cualquier jugador que insulte o agreda 
        gravemente al árbitro será expulsado automáticamente del torneo, sin poder 
        participar en ningún partido más de dicho evento.</li></p>

        <p><li> La organización se reserva el derecho de hacer 
        cualquier modificación en el torneo.</li></p>
            <br>
    </div>
    <br>
 {% endblock %}